@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  @apply font-onest;
}

@keyframes mostrarElemento {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
  50% {
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes quitarElemento {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  50% {
    opacity: 0.3;
    transform: translateY(-5%);
  }
  70% {
    visibility: hidden;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.mostrar {
  animation: mostrarElemento 0.2s ease-in-out forwards;
}

.quitar {
  animation: quitarElemento 0.2s ease-in-out forwards;
}
